.App {
  min-height: 100vh;
  background-color: #818fdd;
  background-image: radial-gradient(
      at 83% 67%,
      rgb(152, 231, 156) 0,
      transparent 58%
    ),
    radial-gradient(at 67% 20%, hsla(357, 94%, 71%, 1) 0, transparent 59%),
    radial-gradient(at 88% 35%, hsla(222, 81%, 65%, 1) 0, transparent 50%),
    radial-gradient(at 31% 91%, hsla(9, 61%, 61%, 1) 0, transparent 52%),
    radial-gradient(at 27% 71%, hsla(336, 91%, 65%, 1) 0, transparent 49%),
    radial-gradient(at 74% 89%, hsla(30, 98%, 65%, 1) 0, transparent 51%),
    radial-gradient(at 53% 75%, hsla(174, 94%, 68%, 1) 0, transparent 45%);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Btn {
  display: flex;
  flex: row;
  justify: center;
  items: center;
  margin: 1em;

  padding: 1em;

  cursor: pointer;
}

h1 {
  padding: 3em;
}

.Btn:hover {
  background-color: rgb(214, 162, 82);
}

.Btn:focus,
.Btn:active {
  background-color: rgb(179, 178, 133);
}

ul{
  display: flex;
  flex: row;
  
}

h2 {
  color: rgb(4, 248, 77);
}

@media (max-width: 576px) {
  ul{
    flex-direction: column;
  }
  h2 {
    color: rgb(4, 199, 248);
  }
}
